---

---

<div class="page-section">
    <div class="container">
        <h1 class="text-center mb-5 wow fadeInUp">Our Doctors</h1>
        <div class="owl-carousel wow fadeInUp" id="doctorSlideshow">
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <picture>
                            <source
                                type="image/webp"
                                srcset="/src/assets/img/doctors/doctor_1.webp"
                            />
                            <source
                                type="image/png"
                                srcset="/src/assets/img/doctors/doctor_1.png"
                            />
                            <img
                                src="/src/assets/img/doctors/doctor_1.webp"
                                alt=""
                                width="100%"
                            />
                        </picture>
                        <!---<div class="meta">
                            <a href="#"><span class="mai-time"></span></a>
                            <a href="#"><span class="mai-calendar"></span></a>
                        </div>--->
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Stein Albert</p>
                        <span class="text-sm">Cardiology</span><br />
                        <div class="row ml-0">
                            <span class="text-sm text-grey mr-2"
                                >Sunday - Friday</span
                            >
                            <span class="text-sm text-grey">08:00 - 22:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <picture>
                            <source
                                type="image/webp"
                                srcset="/src/assets/img/doctors/doctor_2.webp"
                            />
                            <source
                                type="image/png"
                                srcset="/src/assets/img/doctors/doctor_2.png"
                            />
                            <img
                                src="/src/assets/img/doctors/doctor_2.webp"
                                alt=""
                                width="100%"
                            />
                        </picture>
                        <!---<div class="meta">
                            <a href="#"><span class="mai-time"></span></a>
                            <a href="#"><span class="mai-calendar"></span></a>
                        </div>--->
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Alexa Melvin</p>
                        <span class="text-sm">Dental</span>
                        <div class="row ml-0">
                            <span class="text-sm text-grey mr-2"
                                >Sunday - Friday</span
                            >
                            <span class="text-sm text-grey">08:00 - 22:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <picture>
                            <source
                                type="image/webp"
                                srcset="/src/assets/img/doctors/doctor_3.webp"
                            />
                            <source
                                type="image/png"
                                srcset="/src/assets/img/doctors/doctor_3.png"
                            />
                            <img
                                src="/src/assets/img/doctors/doctor_3.webp"
                                alt=""
                                width="100%"
                            />
                        </picture>
                        <!---<div class="meta">
                            <a href="#"><span class="mai-time"></span></a>
                            <a href="#"><span class="mai-calendar"></span></a>
                        </div>--->
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Rebecca Steffany</p>
                        <span class="text-sm">General Health</span>
                        <div class="row ml-0">
                            <span class="text-sm text-grey mr-2"
                                >Sunday - Friday</span
                            >
                            <span class="text-sm text-grey">08:00 - 22:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <picture>
                            <source
                                type="image/webp"
                                srcset="/src/assets/img/doctors/doctor_3.webp"
                            />
                            <source
                                type="image/png"
                                srcset="/src/assets/img/doctors/doctor_3.png"
                            />
                            <img
                                src="/src/assets/img/doctors/doctor_3.webp"
                                alt=""
                                width="100%"
                            />
                        </picture>
                        <!---<div class="meta">
                            <a href="#"><span class="mai-time"></span></a>
                            <a href="#"><span class="mai-calendar"></span></a>
                        </div>--->
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Rebecca Steffany</p>
                        <span class="text-sm">General Health</span>
                        <div class="row ml-0">
                            <span class="text-sm text-grey mr-2"
                                >Sunday - Friday</span
                            >
                            <span class="text-sm text-grey">08:00 - 22:00</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card-doctor">
                    <div class="header">
                        <picture>
                            <source
                                type="image/webp"
                                srcset="/src/assets/img/doctors/doctor_1.webp"
                            />
                            <source
                                type="image/png"
                                srcset="/src/assets/img/doctors/doctor_1.png"
                            />
                            <img
                                src="/src/assets/img/doctors/doctor_1.webp"
                                alt=""
                                width="100%"
                            />
                        </picture>
                        <!---<div class="meta">
                            <a href="#"><span class="mai-time"></span></a>
                            <a href="#"><span class="mai-calendar"></span></a>
                        </div>--->
                    </div>
                    <div class="body">
                        <p class="text-xl mb-0">Dr. Rebecca Steffany</p>
                        <span class="text-sm">General Health</span>
                        <div class="row ml-0">
                            <span class="text-sm text-grey mr-2"
                                >Sunday - Friday</span
                            >
                            <span class="text-sm text-grey">08:00 - 22:00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
